

/** to all 3 **/
body {
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(10, 13, 13);

}
h1, h2, h3{
    color: rgb(184, 118, 37);
}
.clear{
    clear: both;
    margin-top: 30px;
}
/** Nav **/
@media only screen and (max-width: 801px) {
    nav a {
        size: 100%;
        display: block;
        background-color: cornsilk;
        color: rgb(236, 146, 11);
        padding-left: 10px;

    }
    nav span{
        display: none;
    }
}

/** Bio/index **/
header img{
    float: left;
    margin: 15px;
    max-width: 100%;
    height: auto;
}
@media only screen and (max-width: 801px){
    header img{
        width: 90%;

    }
}


footer {
    margin-top: 50px;
    text-align: center;
}
footer .quote{
    float: right;
    margin-right: 20px;
    font-style: italic;
}
footer .copy{
    float: left;
    margin-left: 20px;
}




/** Skill **/
.firstrow{
    flex-wrap: wrap;
}
.evenrow {
    background-color: rgb(193, 215, 251);
}
table, th, td{ 
    border: 1px solid rgb(248, 157, 1)
}
center{
    text-align: center;
}
.firstrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(7, 127, 233);
}

.skillsimage{
    margin-left: 20%;
}


/** Contact **/
.sec1, .sec2{
    flex-wrap: wrap;
}

.sec1 div, .sec2 div, .sec2 map {
    flex: 1;
    margin: 1em;
}

.sec1 {
    display: flex;
    margin: 1em;
    padding: 20px;
    background-color: rgb(123, 184, 237);
    border-radius: 1em;

}

.add, .link {
    margin: 20px;
}

.sec2{
    display: flex;
    margin: 1em;
    padding: 10px;
    background-color: rgb(147, 203, 253);
    border-radius: 1em;
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

